<?xml version="1.0" encoding="utf-8"?>

<Layouts>

  <Layers>
    <Layer Name="Frame" Dialog="BackgrdFrame"/>
    <Layer/>
  </Layers>

  <Rules>
    <ScreenCondition Width="240" Height="320">
      <UseLayout Name="240x320"/>
    </ScreenCondition>
    <ScreenCondition Width="240" Height="400">
      <UseLayout Name="240x320"/>
    </ScreenCondition>
    <ScreenCondition Width="320" Height="240">
      <UseLayout Name="320x240"/>
    </ScreenCondition>
    <ScreenCondition Width="400" Height="240">
      <UseLayout Name="320x240"/>
    </ScreenCondition>
    <ScreenCondition Width="240" Height="240">
      <UseLayout Name="240x320"/>
    </ScreenCondition>
    <Default>
      <UseLayout Name="240x320"/>
    </Default>
  </Rules>

  <General>
    <Int Name="FrameFlags" Value="2"/> <!-- Top -->
    <Int Name="FadeContent" Value="0"/>
    <Skin Skin="misc/dpi196" MiddleSkin="misc/dpi128" DoubleSkin="misc/dpi192"/>
  </General>

  <Layout Name="Default">
    <Plugins>

      <Group Name="Vert" ID="10">
        <Plugins>
          <Group Name="Horz" ID="11">
            <Int Name="ByHorz" Value="1"/>
            <Int Name="MaxSize" Value="3"/>
            <Plugins>
              <Plugin Name="Item" Class="Spb.LSP.Generic" ID="12">
                <DefaultFont Face="Droid Sans" HeightPxl="11" Bold="y" Color="FFFFFFFF"/>
              </Plugin>
            </Plugins>
          </Group>
        </Plugins>
      </Group>

    </Plugins>
  </Layout>

  <Layout Name="240x320">
    <General>
      <Int Name="LineSize" Value="3"/>
    </General>

    <Plugins Extends="Default">

      <Group Name="Vert">
        <BoundRect X="0" Y="0" Width="225" Height="60"/>
        <Plugins>
          <Group Name="Horz">
            <Plugins>
              <Plugin Name="Item">
                <BoundRect X="0" Y="0" Width="80" Height="65"/>
                <Rect Name="IconRect" X="24" Y="5" Width="32" Height="32"/>
                <Rect Name="TextRect" X="1"  Y="37" Width="78" Height="28"/>
              </Plugin>
            </Plugins>
          </Group>
        </Plugins>
      </Group>

      <Plugin Name="Indent" Class="Spb.LSP.Generic">
        <BoundRect X="0" Y="0" Width="0" Height="5"/>
      </Plugin>

    </Plugins>
  </Layout>

  <Layout Name="320x240">
    <General>
      <Int Name="LineCount" Value="3"/>
      <Int Name="byX" Value="1"/>
      <Int Name="FrameFlags" Value="1"/> <!-- Left -->
    </General>

    <Plugins Extends="Default">

      <Group Name="Vert">
        <BoundRect X="0" Y="0" Width="0" Height="0"/>
        <Plugins>
          <Group Name="Horz">
            <Plugins>
              <Plugin Name="Item">
                <BoundRect X="0" Y="0" Width="80" Height="71"/>
                <Rect Name="IconRect" X="5" Y="5" Width="70" Height="32"/>
                <Rect Name="TextRect" X="1" Y="37" Width="78" Height="28"/>
              </Plugin>
            </Plugins>
          </Group>
        </Plugins>
      </Group>

    </Plugins>
  </Layout>

</Layouts>